@model CodeWick.Models.Content
@using CodeWick.Models;
@using CodeWick.Helpers;
@using System.Web;

@{
    string layoutLocation = "/Admin/Content.cshtml";
    if (System.IO.File.Exists(Path.Combine(System.Web.HttpContext.Current.Server.MapPath(@"~/Content")) + "/Themes/" + ((Theme)Session["theme"]).Abbreviation + "/Layouts" + layoutLocation)) {
        Layout = "~/Content/Themes/" + ((Theme)Session["theme"]).Abbreviation + "/Layouts" + layoutLocation;
    }else{
        Layout = "~/Content/Themes/" + ((Theme)Session["theme"]).Abbreviation + "/Layouts/Admin/_Admin.cshtml";
    }
    ViewBag.Title = ((Setting)Session["setting"]).SiteName + ": Admin Content";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/Themes/" + (((Theme)Session["theme"]).Abbreviation) + "/CSS/Admin/Admin.css")" rel="stylesheet" type="text/css" />
}

<div id="admin">
    @if(Context.User.IsInRole("administrator")) {
    <div class="sidebar">@Html.Action("_Navigation", "Modules")</div>
    <div class="content">
        <fieldset>
			<legend>Delete Content</legend>
		@using (Html.BeginForm()) {
			@Html.ValidationSummary(true)
			<div class="display-label">Category:</div>
			<div class="display-field">@(Model.Category == null ? "None" : Model.Category.Title)</div>
			<div class="display-label">SEOURL:</div>
			<div class="display-field">@Model.SEOURL</div>
			<div class="display-label">Title:</div>
			<div class="display-field">@Model.Title</div>
			<div class="display-label">Body:</div>
			<div class="display-field">@Model.Body</div>
			<div class="display-label">CSS:</div>
			<div class="display-field">@Model.CSS</div>
			<div class="display-label">Created Date:</div>
			<div class="display-field">@String.Format("{0:g}", Model.CreatedDate)</div>
			<div class="display-label">Last Update:</div>
			<div class="display-field">@String.Format("{0:g}", Model.LastUpdate)</div>
			<button type="submit" name="delete" class="editor-button"><img src="@Url.Content("~/Content/Themes/" + (((Theme)Session["theme"]).Abbreviation) + "/Images/btn_delete.png")" alt="" class="editor-image" /></button>
            @Html.ActionImage(Url.Content("~/Content/Themes/" + (((Theme)Session["theme"]).Abbreviation) + "/Images/btn_cancel.png"), "Index", "Index", "Contents", null, null, new { @class = "editor-button" }, new { @class = "editor-image" })
		}
	    </fieldset>
    </div>
    } else {
        <div>Administrator access required.</div>
    }
</div>
