@model CodeWick.Models.RequestQuote
@using CodeWick.Models
@using CodeWick.Helpers

@using (Ajax.BeginForm("_RequestQuote", "Modules", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "request_quote" })) {
    <div class="container">
        <h2>Request a Quote!</h2>
        <div class="editor-validation">@Html.ValidationSummary(true, "Please complete all fields.")</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
        </div>
        <div class="editor-button">
            <button id="btn_request" type="submit" name="request" ><img src="@Url.Content("~/Content/Themes/" + (((Theme)Session["theme"]).Abbreviation) + "/Images/btn_request.png")" alt=""/></button>
        </div>
    </div>
}