@model CodeWick.Models.Area
@using CodeWick.Models;
@using CodeWick.Helpers;
@using System.Web;

@{
    string layoutLocation = "/Admin/Area.cshtml";
    if (System.IO.File.Exists(Path.Combine(System.Web.HttpContext.Current.Server.MapPath(@"~/Content")) + "/Themes/" + ((Theme)Session["theme"]).Abbreviation + "/Layouts" + layoutLocation)) {
        Layout = "~/Content/Themes/" + ((Theme)Session["theme"]).Abbreviation + "/Layouts" + layoutLocation;
    }else{
        Layout = "~/Content/Themes/" + ((Theme)Session["theme"]).Abbreviation + "/Layouts/Admin/_Admin.cshtml";
    }
    ViewBag.Title = ((Setting)Session["setting"]).SiteName + ": Admin Area";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/Themes/" + (((Theme)Session["theme"]).Abbreviation) + "/CSS/Admin/Admin.css")" rel="stylesheet" type="text/css" />
}

<div id="admin">
    @if(Context.User.IsInRole("administrator")) {
    <div class="sidebar">@Html.Action("_Navigation", "Modules")</div>
    <div class="content">
        <fieldset>
			<legend>Area's Details</legend>
		@using (Html.BeginForm()) {
			@Html.ValidationSummary(true)
			<div class="display-label">Area Name:</div>
			<div class="display-field">@Model.AreaName</div>
			@Html.ActionImage(Url.Content("~/Content/Themes/" + (((Theme)Session["theme"]).Abbreviation) + "/Images/btn_edit.png"), "Edit", "Edit", "Areas", null, new { id=Model.AreaId }, new { @class = "editor-button" }, new { @class = "editor-image" })
			@Html.ActionImage(Url.Content("~/Content/Themes/" + (((Theme)Session["theme"]).Abbreviation) + "/Images/btn_back.png"), "Index", "Index", "Areas", null, null, new { @class = "editor-button" }, new { @class = "editor-image" })
		}
	    </fieldset>
    </div>
    } else {
        <div>Administrator access required.</div>
    }
</div>
